* {
  margin: 0;
  padding: 0;
}

.Whole {
  /* width: 100vw; */
  /* background-color: black; */
  /* height: 100vh; */
  transform: translateX(-100%);
  animation: slide-in 2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.Header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
  background: linear-gradient(to right, white, wheat);
}

.HeaderWrap {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LeftHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.MidHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #dbdfff;
  border-radius: 10px;
  padding-left: 20px;
  gap: 10px;
}

.Iconis {
  width: 20px;
  height: 20px;
}

.Ilearn {
  width: 100px;
  height: 100%;
}

.Study {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 8px;
  color: black;
  /* background-color: aqua; */
}

.HeaderFont {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.Icons {
  width: 10px;
  height: 10px;
}

.Searches {
  padding: 9px 0px;
  outline: none;
  border-radius: 10px;
  border: none;
  width: 600px;
  height: 40px;
  background-color: #dbdfff;
  font-size: 15px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",  sans-serif;
}

.RightHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.Login {
  padding: 8px 10px;
  background-color: #4156fe;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  cursor: pointer;
}
.Login:hover {
  background-color: #423ed8;
  transition: all 200ms;
}

.RightHeaderFont {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #423ed8;
}

.RightIcon {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-left: 8px;
}

/* End of header */

.Main2 {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    #00bfff,
    #ffffff,
    #0080c0,
    #add8e6,
    #2f4f7f
  );
  background-size: 500% 100%;
  animation: animate-background 15s ease-in-out infinite;
}

@keyframes animate-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.MainWrapper {
  width: 90%;
  height: 90%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}

.Form {
  width: 50%;
  height: 100%;
  /* background-color: aliceblue; */
  margin-left: 70px;
  h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 700;
  }
}

.CTA {
  width: 80%;
  height: 40%;
  /* background-color: yellow; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-self: center; */
  margin-top: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.Cta-1 {
  width: 100%;
  height: 30%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid silver;

  h3 {
    padding-left: 10px;
  }
}
.Cta-2 {
  width: 100%;
  height: 30%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid silver;
  h3 {
    padding-left: 5px;
  }
}
.Cta-3 {
  width: 100%;
  height: 30%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid silver;
}

form {
  width: 80%;
  height: 40%;
  /* background-color: gainsboro; */
  padding-top: 24px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.Email {
  width: 98%;
  height: 25%;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  border: 1px solid silver;
  margin-bottom: 15px;

  label {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  input {
    border: none;
    margin-top: 10px;
    outline: none;
  }
}
.Password {
  width: 98%;
  height: 25%;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  border: 1px solid silver;
  margin-bottom: 15px;

  label {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  input {
    border: none;
    margin-top: 10px;
    outline: none;
  }
}

button {
  width: 98%;
  height: 25%;
  background-color: #026fca;
  border: none;
  border-radius: 10px;
  /* flex-direction: column; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  background-color: #026fca;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  animation: animate 2s ease-in-out forwards;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button:hover {
  animation: animate-hover 0.5s ease-in-out;
}

@keyframes animate-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

p {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;

  a {
    text-decoration: none;
    color: #026fca;
  }
  span {
    color: #026fca;
    text-decoration: underline;
    cursor: pointer;
  }
}

.Image {
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
